@import "src/assets/css/partials/_includes.scss";

#wrapper {
    main {
        min-height: calc(100vh - 128px);
        max-height: calc(100vh - 128px);
        padding: 0;
        margin: 0;
    }
}
